{{outlet}}

<footer class="footer">
  <div class="">
    <div class="row">
      <div class="footer__column col-sm-12 col-md-6 col-lg-6">
        <div class="footer__column__links--opacity form-inline col-12">
          <a href="/privacyPolicy">Privacy Policy</a>
          <a href="/termsOfUse">Terms of Use</a>
        </div>
        <div class="footer__column__copyright col-12 form-inline">
          Copyright &copy; 2018 All rights reserved.
        </div>
      </div>
      <div class="footer__column col-sm-12 col-md-6 col-lg-6">
        <div class="footer__column__links form-inline">
          <a href="/">Home</a>
          <a href="/restaurants">Restaurants</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</footer>