.specials__seeAll {
  opacity: 0.4;
  font-size: 18px;
  color: white;
  margin:0 auto;
}
.specials img {
  height: 180px;
  width: 260px;
}
.specials .card {
  border:none;
  background: none;
}
.specials .card h5{
  font-size: 25px;
}
.specials .card p{
  font-size: 18px;
}
.special-meal-card__item{
  padding-left:20px;
}