<div class="{{if hovered 'file-upload__box--hovered'}}">
  <div class="file-upload__box__icon">
    <img src="/assets/images/upload.png" class="file-upload__icon">
  </div>
  <p class="file-upload__text">{{text}}</p>
  <img src={{previewPhoto}} class="previewPhoto">
</div>