<img class="card-img-top" src={{cousine.photoName}}/>
<div class="card-body">
  <h5 class="card-title">{{cousine.cousineName}}</h5>
  <p class="card-text">{{cousine.numberOfRestaurants}} restaurants</p>
</div>