<div class="transparent-menu__empty {{if menuShowed 'transparent-menu__empty--transparent'}}"></div>

<div class="col-12 text-center">
  <button {{action "showMenu"}} class="transparent-menu__button btn">See full menu</button>
</div>