$menu-background-color: #131D24;
$findTable-button-color: #FD6F60;
$grey-background-color: #f7f7f7;
$grey-letter-color: rgba(46,57,63,0.60);
$light-grey-color: rgba(-2147483648,-2147483648,18,0.30);
$light-grey-color-opacity40: rgba(-2147483648,-2147483648,-2147483648,0.40);
$black-color: #000012;
$border-grey-color: #E5E5E5;
$resturant-header-color: rgba(19,29,36,0.40);
$create-white-color: #E6E8EB;
